<?xml version="1.0"?>
<config>
    <modules>
       <ZP_ZuPago>
          <version>1.0.1</version>
       </ZP_ZuPago>
    </modules>

    <global>
    <blocks>
        <zupago>
            <class>ZP_ZuPago_Block</class>
        </zupago>
    </blocks>

        <models>
            <zupago>
                <class>ZP_ZuPago_Model</class>
            </zupago>
        </models>

		<helpers>
            <zupago>
                <class>ZP_ZuPago_Helper</class>
            </zupago>
        </helpers>

        <resources>
            <zupago_setup>
                <setup>
                    <module>ZP_ZuPago</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zupago_setup>
            <zupago_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </zupago_write>
            <zupago_read>
               <connection>
                <use>core_read</use>
              </connection>
            </zupago_read>
        </resources>
    </global>
   <frontend>
        <secure_url>
            <zupago_processing>/zupago/processing</zupago_processing>
        </secure_url>
        <routers>
            <zupago>
                <use>standard</use>
                <args>
                    <module>ZP_ZuPago</module>
                    <frontName>zupago</frontName>
                </args>
            </zupago>
        </routers>
        <translate>
            <modules>
                <ZP_ZuPago>
                    <files>
                        <default>ZP_ZuPago.csv</default>
                    </files>
                </ZP_ZuPago>
            </modules>
        </translate>
        <layout>
            <updates>
                <zupago>
                    <file>zupago.xml</file>
                </zupago>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <zupago>
                <active>0</active>
                <model>zupago/paymentMethod</model>
                <order_status>Processing</order_status>
                <title>ZuPago HyBrid (HD) Wallet</title>
                <allowspecific>0</allowspecific>
            </zupago>
         </payment>
    </default>
</config>
